        <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading">All Contacts </div>
          <div class="panel-body">
            <p>These are popular contacts from other users. Feel free to browse and add them to your personal contact list</p>
          </div>

          <!-- rows -->
          <table class="table table-hover scrollable-panel">

            <% @all_contacts.each do |contact| %>
            <% contact_methods= [] %>
            <form action="/create_contact" method="post" id="form<%= contact.id %>">
            <tr>

                <input form="form<%= contact.id %>" name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
                <input form="form<%= contact.id %>" name="name" type="hidden" value="<%= contact.name %>">
                <input form="form<%= contact.id %>" name="user_id" type="hidden" value="<%= current_user.id %>">
                <td width="1%">
                  <button form="form<%= contact.id %>" class="badge list-group-item-success pull-left btn btn-link">
                    <i class="fa fa-plus"></i>
                  </button>
                </td>
                <td>
                  <%= contact.name %>
                </td>
                <td>


                    <label for="has_email<%= contact.id %>"><i class="fa fa-at"></i></label>
                    <input name="has_email" id="has_email<%= contact.id %>" form="form<%= contact.id %>" type="checkbox">



                    <label for="has_phone<%= contact.id %>"><i class="fa fa-hashtag"></i></label>
                    <input name="has_phone" id="has_phone<%= contact.id %>" form="form<%= contact.id %>" type="checkbox">


                    <label for="has_address<%= contact.id %>"><i class="fa fa-home"></i></label>
                    <input name="has_address" id="has_address<%= contact.id %>" form="form<%= contact.id %>" type="checkbox">



                </td>




              </form>
            </tr>
            <% end %>
          </table>
