        <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading">All Contacts </div>
          <div class="panel-body">
            <p>These are popular contacts from other users. Feel free to browse and add them to your personal contact list</p>
          </div>

          <!-- List group -->
          <table class="table table-hover">

            <% @all_contacts.each do |contact| %>
            <% contact_methods= [] %>
            <tr>
              <form action="/create_contact" method="post">
                <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
                <input name="name" type="hidden" value="<%= contact.name %>">
                <input name="user_id" type="hidden" value="<%= current_user.id %>">
                <td width="1%">
                  <button class="badge list-group-item-success pull-left btn btn-link">
                    <i class="fa fa-plus"></i>
                  </button>
                </td>
                <td>
                  <%= contact.name %>
                </td>
                <td>


                    <label for="has_email"><i class="fa fa-at"></i></label>
                    <%= check_box_tag(:has_email) %>


                    <label for="has_phone"><i class="fa fa-hashtag"></i></label>
                    <%= check_box_tag(:has_phone) %>


                    <label for="has_address"><i class="fa fa-car"></i></label>
                    <%= check_box_tag(:has_address) %>


                </td>



                <% end %>
              </form>
            </tr>
          </table>
